@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root,
#root > div {
  background-color: #eaeaea;
  height: 100%;
  margin: 0px;
}

